<style>
    .grid {

    }
    .grid-sizer,
    .grid-item{
        width: 25%;
        position: relative;
        display: block;
    }
    .gutter-sizer {
        width: 10px;
    }
    .grid-item {
        margin-bottom: 10px;
    }
    .grid-item img {
        outline: none;
        border: none;
        display: block;
        width: 100%;
    }
</style>

<div class="container cf">
    <div masonry-gallery>
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div class="grid-item">
                <img src="https://ununsplash.imgix.net/photo-1421757295538-9c80958e75b0?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </div>
            <div class="grid-item">
                <img src="https://unsplash.imgix.net/photo-1426200830301-372615e4ac54?fit=crop&fm=jpg&h=725&q=75&w=1050" alt="Image">
            </div>
            <div class="grid-item">
                <img src="https://unsplash.imgix.net/photo-1421977870504-378093748ae6?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </div>
            <div class="grid-item">
                <img src="https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
            </div>
            <div class="grid-item">
                <img src="https://download.unsplash.com/photo-1415871989540-61fe9268d3c8" alt="Image">
            </div>
        </div>
    </div>
</div>
