/*
  Site Name: DNA Custom Painting
  Author: Morgan Segura
  Stylesheet: Media Queries
*/


@media (max-width: 800px) {

    /* Header */

    header {
        padding: 20px 50px;
        flex-direction: column;
        h2 {
            margin-bottom: 15px;
        }          
    }  

    /* Section */

    section {
        padding: 50px 20px;
    }

    /* Hero Section */

    .hero {
        min-height: 600px;
        h1 {
            font-size: 48px;
        }
        h3 {
            font-size: 24px;
        }
        a.btn {
            padding: 15px 40px;
        }        
    }

    /* Destinations */

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }

    /* Testimonials */
    
    .testimonials {
        .quote {
            font-size: 18px;
            margin: 15px 0;
        }
        .author {
            font-size: 14px;
        }
    }

    /* Packages */

    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}


@media all and (max-width: 1000px) {

    /* Contact Section */

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

@media all and (max-width: 1100px) {

    /* Destinations Section */

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
    }

    /* Footer */

    footer {
        flex-direction: column;
        p {
            text-align: center;
            margin-bottom: 20px;
        }
        ul li {
            margin: 0 8px;
        }
    }

}
